/* .chart_title {
    background: linear-gradient(0deg, #c9c6cd, transparent);
    padding: 1vw;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    margin-bottom: 4vw;
} */

.chart_container {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    row-gap: 3vw;
}

.chart {
    padding: 3vw;
    border-radius: 5px;
}

.chart:nth-child(even) {
    background-color: rgba(225, 245, 245, 0.356);
}

.chart:nth-child(odd) {
    background-color: rgba(243, 227, 243, 0.432);
}