/** INVOICES NAVBAR **/
.navbar {
    display: inline-block;
    margin-bottom: 4.5vw;
}


.input_container input[type="radio"] {
    display: none;
}

.input_container {
    display: inline-block;
    margin-left: 3vw;
}

.input_container:first-child {
    margin-left: 0vw;
}

.input_container label {
    padding: 1vw;
    background-color: #f0edf5;
    border-radius: 1vw;
    font-size: 120%;
    font-weight: bold;
    cursor: pointer;
}

.input_container label.main_label {
    background-color: #6138fe;
    color: #fff;
}

.input_container input[type="radio"]:checked + label {
    background-color: #6138fe;
    color: #fff;
}



/** MOBILE CSS **/
@media screen and (max-width: 1024px) {
    .navbar {
        margin-bottom: 7vw;
    }
}
